<!DOCTYPE html>
<html>
<head>
	<title>ADMIN PANEL</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

   {{#if user}}
  <header class="hdr">
        <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/users/logout">Logout</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>
    {{/if}}

	<div class="container">
      {{#if user}}
      <div class="header clearfix">      
      </div>
       {{/if}}

      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>&copy; 2018 Admin Panel</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
